{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block others %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon01.ico' %}"> <!--파비콘설정-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!--JQuery사용하기 위함-->

    <meta charset="UTF-8">
    <title>Noonch_Catch</title>
</head>
<script>
    $(document).ready(function(){
        const bgmOn = $('#bgm-on') //bgm-on 아이콘
        const bgmOff = $('#bgm-off') //bgm off 아이콘
        const MyAudio = $('#MyAudio') //HTML <audio>태그

        bgmOn.click(function(){ //bgm-on 아이콘 클릭 했을 때
            bgmOn.hide(); //bgm-on 아이콘 숨기고
            bgmOff.show(); //bgm-off 아이콘 보여줌
            MyAudio.trigger("pause"); //오디오 멈춤
        });

        bgmOff.click(function(){ //bgm-off 아이콘 클릭 했을 때
            bgmOff.hide(); //bgm-off 아이콘 숨기고
            bgmOn.show(); //bgm-on 아이콘 보여줌
            MyAudio.trigger("play"); //오디오 다시 재생
        });
    });
</script>
{% block jquery %}
{% endblock %}
<body>
    <div id="bgm-icon-wrap">
        <img id="bgm-on" class="bgm-icon" data-play="1" src="{% static 'image/icon_bgmon.png' %}"/>
        <img id="bgm-off" class="bgm-icon" data-play="0" src="{% static 'image/icon_bgmoff.png' %}"/>
    </div>
    <audio id="MyAudio" autoplay loop>
        <source id="Audio" class="audio" src="{% static 'image/Bubble%20Bath%20-%20The%20Green%20Orbs.mp3' %}" allow="autoplay" type="audio/mp3"/>
    </audio>
    <div id="logo-wrap">
        <img id="main-logo" src="{% static 'image/noonch_catch2.gif' %}">
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>