<!-- chat/templates/chat/ending.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/ending.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div>
        <div id="first_text">
            1등 축하합니다
        </div>
        <div id="winner_char">
            <img src="../static/img/pp1.png">
        </div>
        <div id="second_text">
            애긔땅우님 눈치백단이시군요!
        </div>
        <div>

        </div>
    </div>
</body>
</html>