<!-- chat/templates/chat/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <audio id="audio" src="../static/audio/bgm.mp3" autoplay="autoplay" onloadstart="this.volume=0.05" loop="loop"></audio>
    <title>Title</title>
</head>
<body>
    <div id="logo">
        <img src="../static/img/logo2.gif">
    </div>
    <div id="buttons">
        <input id="room-name-input" type="text" placeholder="room name">
        <input id="user_nickname" type="text" placeholder="user name">
        <input id="room-name-submit" type="button" value="Let's Start!">
    </div>
    <div id="teamname">
        <img src="../static/img/teamname.png">
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click(); //submiting the inputs 
            }
        };


        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            const nickname = document.querySelector('#user_nickname').value
            console.log(nickname)
            document.cookie = `nickname=${nickname}`
            window.location.pathname = '/chat/' + roomName + '/';
        };

    </script>
</body>

</html>