<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block others %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
    <link rel='stylesheet' href="{% static 'css/play.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon01.ico' %}"> <!--파비콘설정-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!--JQuery사용하기 위함-->

    <meta charset="UTF-8">
    <title>Noonch_Catch</title>
    <script>
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
    </script>
</head>
<script>
    $(document).ready(function(){
        const bgmOn = $('#bgm-on') //bgm-on 아이콘
        const bgmOff = $('#bgm-off') //bgm off 아이콘
        const MyAudio = $('#MyAudio') //HTML <audio>태그

        bgmOn.click(function(){ //bgm-on 아이콘 클릭 했을 때
            bgmOn.hide(); //bgm-on 아이콘 숨기고
            bgmOff.show(); //bgm-off 아이콘 보여줌
            MyAudio.trigger("pause"); //오디오 멈춤
        });

        bgmOff.click(function(){ //bgm-off 아이콘 클릭 했을 때
            bgmOff.hide(); //bgm-off 아이콘 숨기고
            bgmOn.show(); //bgm-on 아이콘 보여줌
            MyAudio.trigger("play"); //오디오 다시 재생
        });
    });

    $(document).ready(function(){
        const showPlay = $('#play-container')
        const showMain = $('#main-container')
        const playBtn = $('#start-btn')

        //start버튼 클릭시, html다르게 띄우기
        playBtn.click(function(){
           showMain.hide();
           showPlay.show();
        });

        //채팅창 스크롤 하단(최신내용) 포커스 되도록!
        $("#test").click(function(){
            $("#swiper-wrapper").animate({ scrollTop: $(document).height() }, 500);
        });
        {#$("#test").click(function(){#}
        {#    $("#swiper-wrapper").animate({ scrollTop: $(document).height() }, 500);#}
        {#});#}
    });
</script>

<body>
    <!--공통-->
    <div id="bgm-icon-wrap">
        <img id="bgm-on" class="bgm-icon" data-play="1" src="{% static 'image/icon_bgmon.png' %}"/>
        <img id="bgm-off" class="bgm-icon" data-play="0" src="{% static 'image/icon_bgmoff.png' %}"/>
    </div>
    <audio id="MyAudio" autoplay loop onloadstart="this.volume=0.05">
        <source id="Audio" class="audio" src="{% static 'image/Bubble%20Bath%20-%20The%20Green%20Orbs.mp3' %}" allow="autoplay" type="audio/mp3"/>
    </audio>
    <div id="logo-wrap">
        <img id="main-logo" src="{% static 'image/noonch_catch2.gif' %}">
    </div>

    <!--main/대기화면-->
    <div id="main-container">
        <div id="profile-box">
            <div class="profile-user-box">
                <div class="profile-user" id="profile-me">
                    <div class="profile-img-box">
                        <img class="profile-img" src="{% static 'image/pp1.png' %}">
                    </div>
                    <p class="user0"></p>
                </div>
                <div class="profile-user">
                    <div class="profile-img-box">
                        <img class="profile-img" src="{% static 'image/pp2.png' %}">
                    </div>
                    <p class="user1"></p>
                </div>
                <div class="profile-user">
                    <div class="profile-img-box">
                        <img class="profile-img" src="{% static 'image/pp3.png' %}">
                    </div>
                    <p class="user2"></p>
                </div>
                <div class="profile-user">
                    <div class="profile-img-box">
                        <img class="profile-img" src="{% static 'image/pp4.png' %}">
                    </div>
                    <p class="user3"></p>
                </div>
                <div class="profile-user">
                    <div class="profile-img-box">
                        <img class="profile-img" src="{% static 'image/pp5.png' %}">
                    </div>
                    <p class="user4"></p>
                </div>
            </div>
            <input id="start-btn" type="button" value="START GAME">
        </div>
    </div>

    <!--게임창-->
    <div id="play-container" style="display:none;">
        <div id="play-box">
            <!-- player list section -->
            <div id="player-list-box">
                <div class="player-box">
                    <div class="player-img">
                        <img src="{% static 'image/pp1.png' %}">
                    </div>
                    <div class="player-info">
                        <p class="user0"></p>
                        <p class="score">score: <span id="score0" class="scoreN">0</span>/10</p>
                    </div>
                </div>
                <div class="player-box">
                    <div class="player-img">
                        <img src="{% static 'image/pp2.png' %}">
                    </div>
                    <div class="player-info">
                        <p class="user1"></p>
                        <p class="score">score: <span id="score1" class="scoreN">0</span>/10</p>
                    </div>
                </div>
                <div class="player-box">
                    <div class="player-img">
                        <img src="{% static 'image/pp3.png' %}">
                    </div>
                    <div class="player-info">
                        <p class="user2"></p>
                        <p class="score">score: <span id="score2" class="scoreN">0</span>/10</p>
                    </div>
                </div>
                <div class="player-box">
                    <div class="player-img">
                        <img src="{% static 'image/pp4.png' %}">
                    </div>
                    <div class="player-info">
                        <p class="user3"></p>
                        <p class="score">score: <span id="score3" class="scoreN">0</span>/10</p>
                    </div>
                </div>
                <div class="player-box" style="border-bottom:none;">
                    <div class="player-img">
                        <img src="{% static 'image/pp5.png' %}">
                    </div>
                    <div class="player-info">
                        <p class="user4"></p>
                        <p class="score">score: <span id="score4" class="scoreN">0</span>/10</p>
                    </div>
                </div>
            </div>
             <!-- Chat section -->
            <div id="chat-box">
                <div id="swiper-container">
                    <div id="swiper-wrapper">
                        <!--슬라이드 내용 / chat대화-->
                        <div id="swiper-slide-wrap">
                            <!-- 채팅 말풍선 예시
                            <span id="user-in">user01</span>

                            <input id="chat-log" type="textarea">
                            <div class="swiper-slide"></div>
                            <div class="my-swiper-slide">
                                <div class="chat-name">myname</div>
                                <span class="my-chat-text">안녕하세요??</span>
                            </div>
                            <div id="other-swiper-slide" class="other-swiper-slide">
                                <div id="chat-name" class="chat-name"></div>
                                <span id="other-chat-text" class="other-chat-text"></span>
                            </div>
                            -->

                        </div>
                    </div>
                </div>
                <div id="chat-typing-box">
                    <input id="chat-input" type="text" placeholder="채팅을 입력하세요. :-)" >
                    <button id="btn-chat" type="button" >
                        <img id="test" src="{% static 'image/icon_up.png' %}"/>
                    </button>
                </div>
            </div>
            <!-- Draw section -->
            <div id="draw-box">
                <div id="draw-img">
                    <div id="answer-container">
                        <div id="answer-wrap">
                            <div id="correct">✨정답입니다!</div>
                            <div id="wrong">⚡오답입니다!</div>
                        </div>
                    </div>
                    <!--** 여기에 유화 이미지를 넣습니다! **-->
                    <!--** 밑에 태그는 지워주시고 img태그로 넣어주세요. 그래야 스타일적용가능 **-->
                    <img id="quiz_img" src=""/>
                </div>
            </div>
        </div>
        <!--Answer Modal Window-->
        <div id="modal-container">
            <div id="modal-wrapper">
                <img id="complete" src="{% static 'image/Level_complete.gif' %}"/>
                <img id="failed" src="{% static 'image/Level_failed.gif' %}"/>
                <img id="confetti-win" class="confetti" src="{% static 'image/confetti2.gif' %}"/>
                <img id="confetti-lose" class="confetti" src="{% static 'image/rain.gif' %}"/>
            </div>

        </div>
    </div>


{#    <!--Eunjoo-->#}
{#    유저입장창<input id="user_in" type="text" size="100">#}
{#    모든대화<textarea id="chat-log" cols="100" rows="20"></textarea><br>#}
{#    입력창<input id="chat-message-input" type="text" size="100"><br>#}
{#    버튼<input id="chat-message-submit" type="button" value="Send">#}

    <div id="user-hello"> </div>
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"user_username" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user_username = JSON.parse(document.getElementById('user_username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {

            const data = JSON.parse(e.data); //#swiper-slide-wrap >> swipe-slide >> chat-name/chat-text
            console.log(data)
            {#document.querySelector('#chat-log').value += (data.username + ': ' + data.message + '\n');#}
            {#document.querySelector('#user_in').value += (getCookie('nickname') + ', ');#}

            const Position = document.querySelector('#swiper-slide-wrap');//user네임,말풍선 감쌀 자리
            const myDiv = document.createElement('div'); //내채팅div: name, 말풍선 감쌀 div
            const otherDiv = document.createElement('div'); //타인채팅div: name, 말풍선 감쌀 div
            const chatNameP = document.createElement('div');
            const chatTextP = document.createElement('div'); //타인말풍선
            const mychatTextP = document.createElement('div'); //나의말풍선
            const chatName = document.createTextNode(data.username);
            const chatText= document.createTextNode(data.message + '\n');
            const UserMe = getCookie('nickname');

            const quizImg = document.querySelector('#quiz_img');//퀴즈그림
            {#const quizImg = document.querySelector('#draw-img img');//퀴즈그림#}
            const resultCon = document.querySelector('#answer-container');//정답결과창
            const correct = document.querySelector('#correct');//정답입니다. 문구
            const wrong = document.querySelector('#wrong');//오답입니다. 문구

            let text =  $('#chat-input').val() ///동우

            const mes = data.message


            quizImg.style.display = 'none';
            setTimeout(function () {
                quizImg.style.display = 'block';
            }, 10000);

            if (data.username == getCookie('nickname')){ //채팅이름이 쿠키이름과 같다면!!

                //setAttribute로 css부여함
                myDiv.setAttribute("class", "my-swiper-slide");
                chatNameP.setAttribute("class","chat-name");
                mychatTextP.setAttribute("class", "my-chat-text");
                quizImg.setAttribute("class", "draw-img-add");

                //속성연결
                Position.appendChild(myDiv); //Position안에 newDiv를 넣는다.
                myDiv.appendChild(chatNameP);
                myDiv.appendChild(mychatTextP);
                chatNameP.appendChild(chatName);
                mychatTextP.appendChild(chatText);


                console.log('***' + $('#ImgAnswer').attr('test_answer'))
                const ImgAnswer = document.getElementById('ImgAnswer')

                {#if (quizImg.style.display = 'block') {#}
                {#    if (data.message == document.getElementById('ImgAnswer')) { //채팅메세지가 '#'+'정답'과 같다면!!#}
                {#        resultCon.style.display = 'block'; //결과창(div) 띄우기#}
                {#        correct.style.display = 'block'; //정답입니다 띄우기#}
                {#        wrong.style.display = 'none'; //오답입니다 가리기#}
                {#        quizImg.style.display = 'none'; //이미지가리기#}
                {#        alert('정답');#}
                {#        setTimeout(function() { //2초뒤 결과창 사라지기#}
                {#            resultCon.style.display = 'none';#}
                {#        }, 3000);#}
                {#    }#}
                {#    else if (mes.indexOf('#') == 0) { //채팅#}
                {#        resultCon.style.display = 'block'; //결과창(div) 띄우기#}
                {#        wrong.style.display = 'block'; //오답입니다 띄우기#}
                {#        correct.style.display = 'none'; //정답입니다 가리기#}
                {#        quizImg.style.display = 'none'; //이미지가리기#}
                {#        setTimeout(function() { //2초뒤 결과창 사라지기#}
                {#            resultCon.style.display = 'none';#}
                {#        }, 3000);#}
                {#    }#}
                {#}#}
                $.ajax({
                    type: "POST", // GET 방식으로 요청한다.
                    url: "/chat/test1/",
                    data: {"text":text}, // 요청하면서 함께 줄 데이터 (GET 요청시엔 비워두세요)
                    success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음

                        $('#quiz_img').attr("src",response["test_url"])
                        $('#ImgAnswer').attr("text",response["test_answer"])

                        {#response[pic_answer]#}


                        testAnswer = response.test_answer
                        console.log(testAnswer) //기니피그

                        if (quizImg.style.display = 'block') {
                            console.log('응?')
                            let answerlist = []
                            answerlist[answerlist.length] = testAnswer
                            console.log(answerlist) //['기니피그']
                            console.log(answerlist[0])
                            console.log('****:')

                            if (answerlist[0] == data.message) { //채팅메세지가 '#'+'정답'과 같다면!!
                                console.log('**' + data.message)

                                resultCon.style.display = 'block'; //결과창(div) 띄우기
                                correct.style.display = 'block'; //정답입니다 띄우기
                                wrong.style.display = 'none'; //오답입니다 가리기
                                quizImg.style.display = 'none'; //이미지가리기
                                alert('정답');
                                setTimeout(function() { //초뒤 결과창 사라지기
                                    resultCon.style.display = 'none';
                                }, 3000);
                            }
                            else { //채팅
                            {#else if (mes.indexOf('#') == 0) { //채팅#}
                                resultCon.style.display = 'block'; //결과창(div) 띄우기
                                wrong.style.display = 'block'; //오답입니다 띄우기
                                correct.style.display = 'none'; //정답입니다 가리기
                                {#quizImg.style.display = 'none'; //이미지가리기#}
                                setTimeout(function() { //2초뒤 결과창 사라지기
                                    resultCon.style.display = 'none';
                                }, 3000);
                            }
                        }

                    }
                })

            }
            else{
                //setAttribute로 css부여함
                otherDiv.setAttribute("class", "other-swipe-slide");
                chatNameP.setAttribute("class","chat-name");
                chatTextP.setAttribute("class", "other-chat-text");

                //속성연결
                Position.appendChild(otherDiv); //Position안에 newDiv를 넣는다.
                otherDiv.appendChild(chatNameP);
                otherDiv.appendChild(chatTextP);
                chatNameP.appendChild(chatName);
                chatTextP.appendChild(chatText);
            }
            $.ajax({
                url: "{% url 'user' %}",
                type: "POST",
                data: JSON.stringify({'roomname': roomName}),
                success: function(resultData) {
                     {#TODO : 결과로 받은 resultData로 작업 !#}//주석처리안하면 오류남
                    console.log(resultData)

                    for (i in resultData) {
                        for ( j of document.getElementsByClassName(`user${i}`))
                        {
                            j.innerText = resultData[i]
                        }
                        console.log(i, resultData[i])
                    }
                },
                error: function(error) {
                    console.log(error)
                }
            });

            {#document.querySelector('#swiper-slide-wrap').value += Position;#}
            {#document.querySelector('.swiper-slide').value += (data.username + ': ' + data.message + '\n');#}
            {#document.querySelector('#user-in').text += (getCookie('nickname') + ', ');#}
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-input').focus();
        document.querySelector('#chat-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#test').click();
            }
        };

        document.querySelector('#test').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': getCookie('nickname'),
            }));
            messageInputDom.value = '';
        };
        function getCookie(cookie_name) {
            var x, y; var val = document.cookie.split(';'); for (var i = 0; i < val.length; i++) {
                x = val[i].substr(0, val[i].indexOf('=')); y = val[i].substr(val[i].indexOf('=') + 1); x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
                if (x == cookie_name) {
                    return unescape(y); // unescape로 디코딩 후 값 리턴
                }
            }
        }
        {#function test1() {#}
        {#    let text =  $('#chat-input').val()#}
        {#    $.ajax({#}
        {#        type: "POST", // GET 방식으로 요청한다.#}
        {#        url: "/chat/test1/",#}
        {#        data: {"text":text}, // 요청하면서 함께 줄 데이터 (GET 요청시엔 비워두세요)#}
        {#        success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음#}
        {##}
        {#            $('#quiz_img').attr("src",response["test_url"])#}
        {#            $('#ImgAnswer').attr("text",response["test_answer"])#}
        {##}
                    {#response[pic_answer]#}
        {##}
        {##}
        {##}
        {#            console.log(response) // 서버에서 준 결과를 이용해서 나머지 코드를 작성#}
        {#        }#}
        {#    })#}
        {#}#}
    </script>

</body>

</html>