#play-container{ /*HTML에서 display:none, display: none값 이미 있어서*/
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#play-box{
    background-color: rgba(0,0,0,0.15);
    backdrop-filter: blur(5px); /*----*/
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
#player-list-box{
    display: flex;
    flex-direction: column;
}
.player-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    margin-left: 30px;
}
.player-img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 800px;
    /*margin-left: 20px;*/
}
.player-img img{
    width: 100%;
    object-fit: cover;
}
.player-info{
    width: 180px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /*color: white;*/
    margin-left: 10px;
}
.player-info .score{
    margin-top: -20px;
    font-size: 18px;
}
/*------CHAT------*/
#chat-box{
    width: 350px;
    height: 100%;
    margin: 0 30px;
}
#swiper-container{
    background-color: rgba(300,300,300,0.5);
    height: 400px;
    border-radius: 20px;
    margin-top: 20px;
}
#swiper-wrapper{
    overflow-y: scroll;
    height: 400px;
    display: flex;
    /*flex-direction: column;*/
    flex-direction: column-reverse;
    /*overflow-y:auto;*/
    margin: 0;
}
/*scrollbar 전체*/
#swiper-wrapper::-webkit-scrollbar{
    background-color: white;
    border-radius: 20px;
}
/*scrollbar 막대*/
#swiper-wrapper::-webkit-scrollbar-thumb{
    background-color: #486AB5;
    border-radius: 20px;
}
/*scrollbar 막대 외부*/
#swiper-wrapper::-webkit-scrollbar-track{}
#swiper-slide-wrap{
    padding: 10px;
}
.my-swiper-slide{
    text-align: right;
    padding: 5px;
}
.other-swiper-slide, .swiper-slide {
    text-align: left;
    padding: 5px;
}
.my-chat-text{
    background-color: lightblue;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    text-align: right;
}
.chat-name{
    margin-top: 10px;
}
.other-chat-text{
    background-color: lightgreen;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}
#chat-typing-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#chat-input{
    width: 100%;
    border: none;
    border-radius: 200px;
    background-color: rgba(300,300,300,0.5);
    padding: 8px 20px;
    text-align: left;
    font-size: 18px;
}
#chat-input:focus{
    outline: none;
}
#btn-chat{
    width: 50px;
    border: none;
    border-radius: 300px;
    background-color: #2B4484;
    color: white;
    padding: 8px 30px;
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
#btn-chat:hover{
    background-color: #486AB5;
}
#btn-chat:active{
    background-color: #2B4484;
}

#btn-chat img{
    width: 20px;
}

/*---- draw-section ----*/
#draw-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px 20px 0;
}
#draw-img{
    background-color: white;
    width: 500px;
    height: 455px;
    border-radius: 20px;
    overflow: hidden;
    display: block;
}
/*--유화이미지 img태그의 스타일--*/
#draw-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#draw-img-add{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#answer-container{ /*display:none; 을 위한 div*/
    width: 100%;
    height: 100%;
    display: none;
}
#answer-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
/*--Modal window--*/

#modal-container{  /*--display:none값을 주기위해 만든 div--*/
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
}
#modal-wrapper{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px); /*--이미지 없이 배경 블러--*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 10;
    overflow: hidden;
}
.confetti{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#complete, #failed{
    width: 25%;
    position: absolute;
}